/* css/fp-front.css */

#fp-flipbook-container {
    position: relative;
    margin: 0 auto;
    max-width: 800px;
}

#fp-pdf-viewer {
    position: relative;
}

/* Cada página que renderiza Turn.js */
.fp-page {
    display: inline-block;
}

/* Estilo para las áreas interactivas */
.fp-interactive-area {
    background: rgba(255, 255, 255, 0.3);
}

/* Contenedor del audio */
#fp-audio-container {
    margin-top: 20px;
    text-align: center;
}